:root {
	font-size: 18px;
}

* + * {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	max-width: 1440px;
	margin: 0 auto;
	font-size: 1rem;
	background-color: $lendingBgColor;
}

ul {
	list-style: none;
	padding: 0;
}

p {
	margin: 0;
}

section {
	margin: 4rem 0;
}

.header_lending {
	min-height: 700px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
}

.bg_img {
	width: 100%;
	position: absolute;
	z-index: -1;
}

.content {
	flex: 1 0 auto;
	width: 80%;
	margin: 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.link {
	text-decoration: none;
	color: black;
}

.link_white {
	color: white;
}

.link_contact {
	margin-bottom: 10px;
}

.link_underline {
	text-decoration: underline;
}

.link_yellow {
	color: $color_shadow;
}

.logo {
	text-transform: uppercase;
}

.logo_footer {
	color: $color_shadow;
}

.button {
	border: none;
	padding: 1rem 1.5rem;
	font-weight: bold;
	background: linear-gradient(180deg, $color 0%, $color_shadow 100%);
	box-shadow: 0px 4px 0px $color;
}

.copyright {
	font-weight: bold;
}

.breadcrumbs {
	display: flex;

	&__item {
		position: relative;
		margin-left: 0.5rem;
		margin-right: 0.5rem;

		&:first-child {
			margin-left: 0;

			&::before {
				content: '';
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&::before {
			position: absolute;
			content: "/";
			left: -0.5rem;
		}
	}

	&_mt-1 {
		margin-top: 1rem;
	}

	&_mt-2 {
		margin-top: 2rem;
	}

	&_mt-3 {
		margin-top: 3rem;
	}

	&_mt-4 {
		margin-top: 4rem;
	}

	&_mt-5 {
		margin-top: 5rem;
	}


	&_mb-1 {
		margin-bottom: 1rem;
	}

	&_mb-2 {
		margin-bottom: 2rem;
	}

	&_mb-3 {
		margin-bottom: 3rem;
	}

	&_mb-4 {
		margin-bottom: 4rem;
	}

	&_mb-5 {
		margin-bottom: 5rem;
	}
}

.table {
	width: 100%;

	&__row {
		display: flex;
		justify-content: space-between;
		padding: 1rem 0;
		box-sizing: border-box;
		border-bottom: 1px solid #BBBBBB;
	}

	&__field {
		font-weight: normal;
	}
}