.footer {
	min-height: 20rem;
	background-image: url('../../Img/footer_background.jpg');
	background-size: cover;
	color: white;
	padding-bottom: 2rem 0;

	&__content {
		margin: 10px auto;
		width: $content_width;
		display: grid;
		grid-template-columns: 33% 33% 33%;
	}

	&__number {
		color: $color_shadow;
	}

	&__category {
		color: $color_shadow;
	}

	&__service {
		margin-bottom: 10px;
	}

	&__block {
		margin-left: 5rem;
	}

	&__callback {
		display: flex;
		flex-direction: column;
	}

	&_category {
		margin-bottom: 30px;
	}
}

.footer__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&:first-child {
		justify-content: space-between;
		padding-bottom: 10px;
	}
}