.filter {
	position: relative;
	margin: 1rem 0;
	background-color: #EEEEEE;
	z-index: 1;

	&__content {
		margin: 0 auto;
		width: 80%;
	}

	.form {
		width: 65%;
		min-width: 40rem;
	}

	&::before {
		position: absolute;
		content: ' ';
		background-image: url('../../Img/catalog/empire-cranes-services-machine.png');
		background-size: cover;
		width: 28rem;
		height: 28rem;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}