/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

:root {
  font-size: 15px; }

* + * {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #f4f4f4; }

ul {
  list-style: none;
  padding: 0; }

p {
  margin: 0; }

section {
  margin: 4rem 0; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative; }

.bg_img {
  width: 100%;
  position: absolute;
  z-index: -1; }

.content {
  flex: 1 0 auto;
  width: 70%;
  margin: 0 auto; }

.footer {
  flex: 0 0 auto; }

.link {
  text-decoration: none;
  color: black;
  transition: 300ms; }
  .link:hover {
    transition: 300ms;
    font-size: 1.1rem; }
  .link_white {
    color: white; }
  .link_contact {
    margin-bottom: 10px; }
  .link_underline {
    text-decoration: underline; }
  .link_yellow {
    color: #FFD600; }
  .link_nohover:hover {
    font-size: inherit; }

.logo {
  text-transform: uppercase; }

.logo_footer {
  color: #FFD600; }

.button {
  border: none;
  padding: 1rem 1.5rem;
  font-weight: bold;
  background: linear-gradient(180deg, #D9AE15 0%, #FFD600 100%);
  box-shadow: 0px 4px 0px #D9AE15; }

.copyright {
  font-weight: bold; }

.breadcrumbs {
  display: flex; }
  .breadcrumbs__item {
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
    .breadcrumbs__item:first-child {
      margin-left: 0; }
      .breadcrumbs__item:first-child::before {
        content: ''; }
    .breadcrumbs__item:last-child {
      margin-right: 0; }
    .breadcrumbs__item::before {
      position: absolute;
      content: "/";
      left: -0.5rem; }
  .breadcrumbs_mt-1 {
    margin-top: 1rem; }
  .breadcrumbs_mt-2 {
    margin-top: 2rem; }
  .breadcrumbs_mt-3 {
    margin-top: 3rem; }
  .breadcrumbs_mt-4 {
    margin-top: 4rem; }
  .breadcrumbs_mt-5 {
    margin-top: 5rem; }
  .breadcrumbs_mb-1 {
    margin-bottom: 1rem; }
  .breadcrumbs_mb-2 {
    margin-bottom: 2rem; }
  .breadcrumbs_mb-3 {
    margin-bottom: 3rem; }
  .breadcrumbs_mb-4 {
    margin-bottom: 4rem; }
  .breadcrumbs_mb-5 {
    margin-bottom: 5rem; }

.table {
  width: 100%; }
  .table__row {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid #BBBBBB; }
  .table__field {
    font-weight: normal; }

.form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column; }
  .form__group {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .form__group_horizontal {
      flex-direction: row;
      align-items: center; }
  .form__double-input {
    display: flex; }
    .form__double-input .form__input {
      width: 50%;
      margin-left: 0;
      margin-right: 0;
      border-left: 1px solid #E3E3E3;
      border-left: 1px solid #E3E3E3; }
      .form__double-input .form__input:first-child {
        border-left: none; }
      .form__double-input .form__input:last-child {
        border-right: none; }
  .form__input {
    background: white;
    border: none;
    padding: 1rem;
    margin: 0.5rem 1rem 0.5rem 0;
    transition: 300ms; }
    .form__input:last-child {
      margin-right: 0; }
    .form__input:first-child {
      margin-left: 0; }
    .form__input:focus {
      transition: 300ms;
      background: #e7e7e7;
      outline: none; }
    .form__input_gray {
      background: #F1F1F1; }
      .form__input_gray:focus {
        transition: 300ms;
        background: #d6d6d6; }
  .form__dropdownlist {
    border: none;
    padding: 1rem;
    padding-right: 2rem;
    margin: 0.5rem 0rem 0.5rem 0; }
    .form__dropdownlist:focus {
      outline: none; }
    .form__dropdownlist_simple {
      background: none; }

.form_grid {
  display: grid;
  grid-column-gap: 15px; }
  .form_grid-3col {
    grid-template-columns: 33% 33% 33%; }
  .form_grid-2col {
    grid-template-columns: 50% 50%; }
  .form_grid-col-gap-5 {
    grid-column-gap: 5rem; }
  .form_grid-col-gap-4 {
    grid-column-gap: 4rem; }
  .form_grid-col-gap-3 {
    grid-column-gap: 3rem; }
  .form_grid-col-gap-2 {
    grid-column-gap: 2rem; }
  .form_grid-col-gap-1 {
    grid-column-gap: 1rem; }

.checkbox {
  margin-top: 1rem;
  display: grid;
  grid-column-gap: 10px; }
  .checkbox_grid-2col {
    grid-template-columns: auto auto; }

.header__content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 10px 0 10px 0; }

.header__about {
  margin-top: 30px;
  width: 50%;
  display: flex;
  flex-direction: column; }
  .header__about .button {
    margin-top: 2rem;
    width: 50%; }

.header__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 135%;
  margin-bottom: 2rem; }

.header__discription {
  font-size: 1.2rem;
  line-height: 135%;
  color: white; }

.header_white {
  background-color: white;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15); }

.header__lending {
  min-height: 700px; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav__block {
    display: flex; }
  .nav__item {
    margin: 0 1.3rem; }
    .nav__item:last-child {
      margin-right: 0px; }
    .nav__item:first-child {
      margin-left: 0px; }
  .nav__contact {
    display: flex;
    justify-content: space-between;
    width: 22rem; }
  .nav__callback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .nav__number {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px; }

.pricelist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.pricelist-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin-bottom: 1.5rem; }
  .pricelist-item__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
  .pricelist-item__price {
    font-size: 1.3rem; }

.pricelist-item_big {
  width: 48.5%;
  height: 17rem;
  box-sizing: border-box;
  padding: 1rem; }

.pricelist-item_small {
  width: 32%;
  height: 17rem;
  box-sizing: border-box;
  padding: 1rem; }

.pricelist-item_first::before {
  content: ' ';
  background-image: url("../../Img/section/pricelist/building_houses.png");
  width: 17rem;
  height: 17rem;
  right: 0;
  bottom: 0;
  background-size: cover;
  position: absolute; }

.pricelist-item_second::before {
  content: ' ';
  background-image: url("../../Img/section/pricelist/floor_repair.png");
  width: 25rem;
  height: 25rem;
  right: 0;
  bottom: 0;
  background-size: cover;
  position: absolute; }

.pricelist-item_third::before {
  content: ' ';
  background-image: url("../../Img/section/pricelist/bath_etc.png");
  width: 15rem;
  height: 15rem;
  right: 0;
  bottom: 0;
  background-size: cover;
  position: absolute; }

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .about__title {
    font-size: 2.5rem; }
  .about__img {
    width: 60%;
    margin-bottom: 40px; }
  .about > p {
    width: 70%;
    line-height: 28px;
    margin-bottom: 10px; }

.services {
  width: 100%;
  margin-top: 20px; }
  .services__grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 50px; }
  .services__item {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-weight: bold; }
    .services__item > img {
      width: 4rem;
      margin-right: 20px; }

.reviews__block {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 6rem; }

.reviews__content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 70%;
  min-height: 16.5rem;
  background-color: white;
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.15);
  padding: 30px 0 30px 30px; }

.reviews__text {
  position: relative;
  width: 60%;
  max-height: 9rem;
  overflow: hidden; }
  .reviews__text::before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 30px;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.76) 58%, white 76%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(58%, rgba(255, 255, 255, 0.76)), color-stop(76%, white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.76) 58%, white 76%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.76) 58%, white 76%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.76) 58%, white 76%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.76) 58%, white 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    bottom: -10px; }

.reviews__author {
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
  font-weight: normal; }

.reviews__img {
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.15);
  max-width: 550px;
  width: 55%;
  position: absolute;
  bottom: 0;
  right: 0; }

.slider__buttons {
  display: flex;
  justify-content: space-around;
  width: 10rem; }

.contacts {
  background-color: white;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
  display: grid;
  height: 22rem;
  grid-template-columns: 50% 50%; }
  .contacts__content {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding-left: 3rem; }
  .contacts__requisite {
    margin-top: 1rem;
    line-height: 3.5rem;
    width: 100%; }
    .contacts__requisite span {
      font-weight: bold; }
  .contacts__map {
    width: 100%;
    height: 22rem; }

.callback {
  overflow: hidden;
  position: relative;
  background-color: white;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
  padding: 2rem 2rem; }
  .callback::before {
    position: absolute;
    content: ' ';
    background-image: url("../../Img/section/callback/woman.png");
    background-size: cover;
    width: 25rem;
    height: 25rem;
    bottom: 0;
    right: 0; }
  .callback__info {
    font-size: 1.1rem;
    font-weight: bold; }
  .callback .form {
    width: 60%; }
    .callback .form__input {
      width: auto;
      max-width: 15rem; }
    .callback .form p {
      color: #808080;
      font-size: 0.8rem;
      font-style: italic;
      margin: auto 0; }
  .callback .button {
    width: auto;
    max-width: 17rem; }

.filter {
  position: relative;
  margin: 1rem 0;
  background-color: #EEEEEE;
  z-index: 1; }
  .filter__content {
    margin: 0 auto;
    width: 80%; }
  .filter .form {
    width: 65%;
    min-width: 40rem; }
  .filter::before {
    position: absolute;
    content: ' ';
    background-image: url("../../Img/catalog/empire-cranes-services-machine.png");
    background-size: cover;
    width: 28rem;
    height: 28rem;
    bottom: 0;
    right: 0;
    z-index: -1; }

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem; }
  .catalog .button {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2rem; }
    .catalog .button img {
      margin-right: 1rem; }
  .catalog__grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 15px;
    row-gap: 30px;
    font-size: 1.2rem; }

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1.2rem;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15); }
  .catalog-item__price {
    position: absolute;
    top: 3%;
    left: 3%;
    padding: 10px;
    background-color: white;
    border-radius: 5px; }
  .catalog-item__img {
    width: 100%;
    margin-bottom: 1.2rem; }

.sort .form {
  margin-bottom: 0;
  margin-top: 0; }
  .sort .form__group {
    margin-top: 0;
    margin-bottom: 0; }
  .sort .form__dropdownlist {
    padding-right: 0;
    width: auto; }

.house {
  display: flex;
  flex-direction: column; }
  .house__grid {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 2rem; }
  .house__frame {
    margin: 1rem 2rem 0 0;
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
    border-radius: 5px; }
  .house__small {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0.5rem 0 0 0; }
  .house__img {
    box-sizing: border-box;
    width: 33%;
    padding: 0.5rem; }
    .house__img:first-child {
      padding-left: 0; }
    .house__img:last-child {
      padding-right: 0; }
    .house__img_big {
      padding: 0;
      width: 90%; }
  .house__info {
    font-size: 1rem;
    font-weight: normal;
    margin: 1rem 0 0 0;
    padding: 1rem 1.5rem 0 1.5rem;
    background: white;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
    border-radius: 5px; }
    .house__info > h3 {
      margin-top: 2rem;
      margin-bottom: 1rem; }
    .house__info > table {
      margin-bottom: 1rem; }
    .house__info > .button {
      width: 100%; }
  .house__description {
    font-size: 1.2rem;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem; }

.footer {
  min-height: 20rem;
  background-image: url("../../Img/footer_background.jpg");
  background-size: cover;
  color: white;
  padding-bottom: 2rem 0; }
  .footer__content {
    margin: 10px auto;
    width: 70%;
    display: grid;
    grid-template-columns: 33% 33% 33%; }
  .footer__number {
    color: #FFD600; }
  .footer__category {
    color: #FFD600; }
  .footer__service {
    margin-bottom: 10px; }
  .footer__block {
    margin-left: 5rem; }
  .footer__callback {
    display: flex;
    flex-direction: column; }
  .footer_category {
    margin-bottom: 30px; }

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .footer__item:first-child {
    justify-content: space-between;
    padding-bottom: 10px; }

@media only screen and (max-width: 1100px) {
  :root {
    font-size: 14px; }
  .nav__contact {
    display: none; }
  .nav .logo {
    font-size: 3rem; }
  .nav__item {
    font-size: 1.4rem; }
    .nav__item .link:hover {
      font-size: 1.7rem; }
  .header__about {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 2rem; }
    .header__about .button {
      width: 14rem;
      height: 3rem; }
  .header__title {
    width: 60%;
    margin: 0; }
  .header__discription {
    display: none; }
  .pricelist {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px; }
    .pricelist .pricelist-item {
      width: 99%;
      margin-bottom: 0; }
      .pricelist .pricelist-item:nth-child(2n+1) {
        margin-bottom: 3rem; }
      .pricelist .pricelist-item:nth-child(2n) {
        margin-top: 3rem; }
  .reviews__content {
    min-height: 0;
    height: 13.5rem; } }

@media only screen and (max-width: 890px) {
  .header__content {
    width: 80%; }
  .header__about {
    align-items: flex-start;
    justify-content: space-between; }
  .pricelist {
    grid-template-columns: 100%;
    row-gap: 15px; }
    .pricelist .pricelist-item {
      width: 85%;
      margin: 0 auto; }
      .pricelist .pricelist-item:nth-child(2n+1) {
        margin-bottom: 0; }
      .pricelist .pricelist-item:nth-child(2n) {
        margin-top: 0; }
  .about__img {
    width: 100%; }
  .reviews__block {
    padding-bottom: 1.3rem; }
  .services__grid {
    grid-template-columns: 50% 50%; }
  .contacts {
    display: flex;
    flex-direction: column;
    height: auto; }
    .contacts__map {
      height: 17rem; }
    .contacts__requisite {
      line-height: 2.5rem; }
  .callback::before {
    display: none; }
  .callback .form {
    width: 90%; } }

@media only screen and (max-width: 730px) {
  .content {
    width: 80%; }
  .nav .logo {
    font-size: 2rem; }
  .nav__item {
    font-size: 1.1rem; }
    .nav__item .link:hover {
      font-size: 1.2rem; }
  .header__content {
    width: 80%; }
  .header__title {
    font-size: 1.5rem; } }

@media only screen and (max-width: 560px) {
  :root {
    font-size: 11px; }
  .header__about {
    display: none; }
  .footer {
    display: none; } }

/*# sourceMappingURL=main.css.map */
